:host {
  width: 100%;
}

form {
  min-width: 300px;
  display: block;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
}

form mat-form-field {
  display: block;
}

button {
  margin: auto;
  display: block;
}
